=form_for @bathroom, html: {:id => "test-form" , :class => "white-popup-block mfp-hide"} do |f|
  %h1
    Add a new bathroom
  =f.label :address1
  =f.text_field :address1
  =f.label :address2
  =f.text_field :address2
  =f.label :city
  =f.text_field :city
  =f.label :state
  =f.text_field :state
  =f.label :zip
  =f.text_field :zip
  =f.submit

