%form#test-form.white-popup-block.mfp-hide
  %h1="Form"
  %fieldset{:style=>"border:0;"}
    %p
      Lightbox has an option to automatically focus on the first input. It's strongly recommended to use <code>inline</code> popup type for lightboxes with form instead of <code>ajax</code> (to keep entered data if the user accidentally refreshed the page).
    %ol
      %li
        %label{:for => "name"}
          Name
        %input{:id => "name", :name => "name", :type=>"text", :placeholder=>"Name", :required=>""}
