// Place all the styles related to the section controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
		
body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;

}
#head {
	height: 60px;
	background: #454545; /* Old browsers */
	background: -moz-linear-gradient(top, #454545 49%, #403d3d 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#454545), color-stop(49%,#403d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #454545 49%,#403d3d 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #454545 49%,#403d3d 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #454545 49%,#403d3d 49%); /* IE10+ */
	background: linear-gradient(to bottom, #454545 49%,#403d3d 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#403d3d',GradientType=0 ); /* IE6-9 */
	padding: 3px;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h1 {
	  font-size: 24px;
	  color: white;
	  font-weight: normal;
	  float: left;
	  text-shadow: 1px 3px 0px black;
	  margin: 16px 0 0 16px;
  }

  button {
	  background: #3d3d3d;
	  color: white;
	  border: 0;
	  float: right;
	  padding: 14px;

    &:hover {
	    background: #454545;
	    color: #8f8f8f;
	    cursor: pointer;
    }

    &:active {
	    background: #454545;
	    color: #747373;
    }
  }

}	

#map{
  position: relative;
  margin-top: 30px;
  
  #superdome_bg{
    float: left;
  }

  #destinations{
    position: relative;
    
    .destination{
      position: absolute;
      display: block;
      height: 30px;
      width: 30px;
      background-color: transparent;
      
      &.men {
        &.low{
          background-image: url('man-low.png');
        }
        &.medium{
          background-image: url('man-medium.png');
        }
        &.high{
          background-image: url('man-high.png');
        }
        &.very_high{
          background-image: url('man-very_high.png');
        }
      }
      &.women {
        &.low{
          background-image: url('woman-low.png');
        }
        &.medium{
          background-image: url('woman-medium.png');
        }
        &.high{
          background-image: url('woman-high.png');
        }
        &.very_high{
          background-image: url('woman-very_high.png');
        }
      }
      &.family {
        &.low{
          background-image: url('fam-low.png');
        }
        &.medium{
          background-image: url('fam-medium.png');
        }
        &.high{
          background-image: url('fam-high.png');
        }
        &.very_high{
          background-image: url('fam-very_high.png');
        }
      }
    }

  }
}
